apiVersion: apps/v1
kind: Deployment
metadata:
    name: myapp
spec:
    replicas: 2
    selector: 
        matchLabels:
            app: myapp
    template:
        metadata:
            labels:
                app: myapp
        spec:
            containers:
            - name: myapp
              image: docker.io/shobhitnagar71/myapp:IMAGE_TAG
              ports:
              - containerPort: 3001

apiVersion: v1
kind: Service
metadata:
  name: ci-cd-demo-service
spec:
  type: NodePort
  selector:
    app: ci-cd-demo
  ports:
    - port: 80
      targetPort: 3001