body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero {
    height: 100vh;
    background: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.9)
    ), url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4");
    background-size: cover;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
  }
  
  .logo {
    color: #e50914;
    font-size: 32px;
  }
  
  .sign-in, .cta {
    background: #e50914;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .hero-content {
    text-align: center;
    margin-top: 200px;
  }
  